pkgbase = evm-contracts-tools-git
	pkgdesc = EVM smart contracts tools.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.r0.gf322c950e3172772b46a5a4fa5b6ccb387e1d580
	pkgrel = 1
	url = https://github.com/themartiancompany/evm-contracts-tools
	arch = any
	groups = hip
	groups = hip-git
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	makedepends = curl
	makedepends = jq
	depends = libcrash-bash
	depends = nodejs-ethers
	provides = evm-contracts-tools=0.0.0.0.0.0.0.0.0.0.0.0.0.1.1.1.r0.gf322c950e3172772b46a5a4fa5b6ccb387e1d580
	conflicts = evm-contracts-tools
	source = evm-contracts-tools.tar.gz::https://github.com/themartiancompany/evm-contracts-tools/archive/refs/heads/master.tar.gz
	sha256sums = SKIP

pkgname = evm-contracts-tools-git
